In [47]:
# pyupbit 데이터를 사용한다. 
import pyupbit

df = pyupbit.get_ohlcv()
print(df)

                           open        high         low       close  \
2024-01-04 09:00:00  58581000.0  60162000.0  57319000.0  59477000.0
2024-01-05 09:00:00  59477000.0  59695000.0  57577000.0  59351000.0
2024-01-06 09:00:00  59351000.0  59518000.0  58651000.0  59329000.0
2024-01-07 09:00:00  59329000.0  59879000.0  58630000.0  59108000.0
2024-01-08 09:00:00  59105000.0  63410000.0  57801000.0  63010000.0
...                         ...         ...         ...         ...
2024-07-17 09:00:00  90825000.0  92159000.0  89380000.0  89467000.0
2024-07-18 09:00:00  89452000.0  91200000.0  89049000.0  89850000.0
2024-07-19 09:00:00  89850000.0  94073000.0  88675000.0  93004000.0
2024-07-20 09:00:00  93004000.0  94624000.0  92736000.0  94065000.0
2024-07-21 09:00:00  94073000.0  94559000.0  93850000.0  93934000.0

                           volume         value
2024-01-04 09:00:00   6254.537687  3.660256e+11
2024-01-05 09:00:00   4822.389677  2.843524e+11
2024-01-06 09:00:00   2482.626233  1.466819e+11
2024-01-07 09:00:00   3285.092560  1.953329e+11
2024-01-08 09:00:00  11161.486894  6.773134e+11
...                           ...           ...
2024-07-17 09:00:00   3690.869429  3.356018e+11
2024-07-18 09:00:00   2571.165921  2.316086e+11
2024-07-19 09:00:00   4216.761047  3.859836e+11
2024-07-20 09:00:00   1966.829220  1.841065e+11
2024-07-21 09:00:00    540.071522  5.084847e+10

[200 rows x 6 columns]

In [48]:
# 데이터는 다음과같다.

"""
    pyupbit : 파이썬 업비트데이터를 사용합니다.
    open : 시작가
    high : 고가
    low : 저가
    closevolume : 종가         
    value  : 가치 
"""
df.info()

df.head()
# 단일열 선택
df['open']

# 여러열 선택
df[['high','value']] #  이차원 배열 로 파라미터를 넘겨준다.

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200 entries, 2024-01-04 09:00:00 to 2024-07-21 09:00:00
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    200 non-null    float64
 1   high    200 non-null    float64
 2   low     200 non-null    float64
 3   close   200 non-null    float64
 4   volume  200 non-null    float64
 5   value   200 non-null    float64
dtypes: float64(6)
memory usage: 10.9 KB

                           high         value
2024-01-04 09:00:00  60162000.0  3.660256e+11
2024-01-05 09:00:00  59695000.0  2.843524e+11
2024-01-06 09:00:00  59518000.0  1.466819e+11
2024-01-07 09:00:00  59879000.0  1.953329e+11
2024-01-08 09:00:00  63410000.0  6.773134e+11
...                         ...           ...
2024-07-17 09:00:00  92159000.0  3.356018e+11
2024-07-18 09:00:00  91200000.0  2.316086e+11
2024-07-19 09:00:00  94073000.0  3.859836e+11
2024-07-20 09:00:00  94624000.0  1.841065e+11
2024-07-21 09:00:00  94559000.0  5.084847e+10

[200 rows x 2 columns]

In [57]:
# iterrow로 행순회하기

for index, row in df.iterrows():
    if row.get('high'):
        print(row['high'])
# df.high=df['high']
# df.low=df['low']
df=df.assign(is_increase=lambda x : x['open']<x['close'],)

# df.loc[df.high>10000&df.low>50000]

# close shift 같은행 이전데이터의 연산이 필요할경우

df['전일종가']= df.close.shift(1)
df

60162000.0
59695000.0
59518000.0
59879000.0
63410000.0
64385000.0
65000000.0
66779000.0
63820000.0
59860000.0
59254000.0
59340000.0
59577000.0
59300000.0
58900000.0
58180000.0
57796000.0
57942000.0
57543000.0
55576000.0
55850000.0
55586000.0
58146000.0
58189000.0
58880000.0
59210000.0
59863000.0
59848000.0
59302000.0
59531000.0
59485000.0
59324000.0
59800000.0
59400000.0
60373000.0
62200000.0
64955000.0
64890000.0
65500000.0
67444000.0
67698000.0
70300000.0
72216000.0
72500000.0
72267000.0
72158000.0
72412000.0
73100000.0
72465000.0
72399000.0
71835000.0
71467000.0
71595000.0
75000000.0
79183000.0
88424000.0
90000000.0
88500000.0
87724000.0
87993000.0
95586000.0
97000000.0
94917000.0
95678000.0
98543000.0
96420000.0
98445000.0
101940000.0
102350000.0
104865000.0
105000000.0
104131000.0
102407000.0
100299000.0
100233000.0
99700000.0
100216000.0
99801000.0
96500000.0
95609000.0
97252000.0
100500000.0
100800000.0
101900000.0
101725000.0
101100000.0
100317000.0
101133000.0
101098000.0
100100000.0
97300000.0
99912000.0
99669000.0
99888000.0
100450000.0
103084000.0
102399000.0
101750000.0
101452000.0
101426000.0
100569000.0
99180000.0
99490000.0
96941000.0
96500000.0
94200000.0
95958000.0
95600000.0
95989000.0
97627000.0
97592000.0
96627000.0
94319000.0
93000000.0
92175000.0
92630000.0
92000000.0
92540000.0
87625000.0
84000000.0
89821000.0
91123000.0
90759000.0
91681000.0
90157000.0
88566000.0
88500000.0
88480000.0
86500000.0
86978000.0
88485000.0
88225000.0
92444000.0
92860000.0
93123000.0
93500000.0
93990000.0
97264000.0
98150000.0
96999000.0
96881000.0
96160000.0
96598000.0
96590000.0
97360000.0
96119000.0
95232000.0
96120000.0
96000000.0
94850000.0
95626000.0
97358000.0
97927000.0
98989000.0
99400000.0
99650000.0
98278000.0
98400000.0
98031000.0
97350000.0
98204000.0
96356000.0
95202000.0
94268000.0
94708000.0
94442000.0
93699000.0
92727000.0
93581000.0
92031000.0
91086000.0
91382000.0
89441000.0
87981000.0
88356000.0
87957000.0
87510000.0
86000000.0
88490000.0
89644000.0
88847000.0
87623000.0
85592000.0
82544000.0
83202000.0
82940000.0
82700000.0
82300000.0
83825000.0
83795000.0
82309000.0
83700000.0
86000000.0
91294000.0
91544000.0
92159000.0
91200000.0
94073000.0
94624000.0
94559000.0

,open,high,low,close,volume,value,is_increase,전일종가
2024-01-04 09:00:00,58581000.0,60162000.0,57319000.0,59477000.0,6254.537687,3.660256e+11,True,NaN
2024-01-05 09:00:00,59477000.0,59695000.0,57577000.0,59351000.0,4822.389677,2.843524e+11,False,59477000.0
2024-01-06 09:00:00,59351000.0,59518000.0,58651000.0,59329000.0,2482.626233,1.466819e+11,False,59351000.0
2024-01-07 09:00:00,59329000.0,59879000.0,58630000.0,59108000.0,3285.092560,1.953329e+11,False,59329000.0
2024-01-08 09:00:00,59105000.0,63410000.0,57801000.0,63010000.0,11161.486894,6.773134e+11,True,59108000.0
...,...,...,...,...,...,...,...,...
2024-07-17 09:00:00,90825000.0,92159000.0,89380000.0,89467000.0,3690.869429,3.356018e+11,False,90807000.0
2024-07-18 09:00:00,89452000.0,91200000.0,89049000.0,89850000.0,2571.165921,2.316086e+11,True,89467000.0
2024-07-19 09:00:00,89850000.0,94073000.0,88675000.0,93004000.0,4216.761047,3.859836e+11,True,89850000.0
2024-07-20 09:00:00,93004000.0,94624000.0,92736000.0,94065000.0,1966.829220,1.841065e+11,True,93004000.0
2024-07-21 09:00:00,94073000.0,94559000.0,93850000.0,93934000.0,540.071522,5.084847e+10,False,94065000.0